{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<style type="text/css">
  input {

    border: 1px solid #ced4da !important;

}


#id_remember {
  margin-left:-20px;
  margin-bottom:5px;
  display:none;
}
.form-check-label {
  display:none;

}

.container {
  font-family: "-apple-system", sans-serif;
}

.container * {
  font-size: 16px;
  overflow: hidden;
}
.container {
  max-width: 100%;
}

.btn-primary {
  background-color:#b2b6b5;
  border:1px #b2b6b5;
  color: black;
}
</style>


<div class="container">
  <div class="row" style="margin-top: 100px">

    <div class="col-md-6 mt-5 offset-3" style="margin-left:auto; margin-right:auto;">
      <h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
{% comment %} <p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> {% endcomment %}

{% comment %} <div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div> {% endcomment %}

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}" class="text-primary">sign up</a> first.{% endblocktrans %}</p>
<form class="login" method="POST" action="{% url 'account_login' %}" style="margin-bottom:20px">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary mb-5" type="submit">{% trans "Sign In" %}</button>
  <a class="btn btn-outline-dark mb-5" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

    </div>
  </div>
</div>



{% endblock %}
