{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% load slide_template_tags %}
{% block content %}
<style>
	/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.block2-labelpromotion::before,
.block2-labelsale::before,
.block2-labelnew::before 
{
  z-index: 100;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block2-labelsale::before {
  background-color: white;
  color: #000;
  content: 'Sale';
}

.block2-labelnew::before {
  background-color: #007bff;
  content: 'New';
}

.block2-labelpromotion::before{
	background-color: #000;
	content: 'Promotion';
	width: 70px;
  }

  .btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-outline-dark {
    color: #000;
    border-color: #000;
}


</style>

<style>
	@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 50vh;
  width: 95vw;
  margin-left:auto;
  margin-right:auto;

}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 30px;
  left: -550px;
  opacity: 0;
  background-color: rgba(244, 237, 237, 0.5);
  color: #333;
  padding: 35px;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  transition: 0.2s ease-in-out;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media(max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* Background images */
.slide:first-child {
  background: url('https://media.istockphoto.com/id/1293366109/photo/this-one-match-perfect-with-me.jpg?b=1&s=612x612&w=0&k=20&c=5T9d2q0viYR1DVcq7FGllJpVTkSrfdpuLHODWiH1a5I=') no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("https://www.dfupublications.com/images/2023/07/27/Growth%20of%20India's%20Kids'%20Wear%20$24.5B%20by%202028_large.jpeg") no-repeat center center/cover;
}


	</style>

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">

				{% slides %}

			</div>
		</div>
	</section>

	<!-- Category start -->
	<style>
		.hov1{
			background-color: white !important;
			color: black !important;
			
		}
	</style>

	<!-- New Product -->
	<style>
		.newproduct{
			margin-bottom: 2px;
			padding-bottom: 2px;
		}
	</style>
	<section class="newproduct bgwhite p-t-45 p-b-105">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Running Products
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">

					{% for item in object_list %}
					
					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label{{item.get_label_display}}">
								<a href="{{item.get_absolute_url}}">
								<img src="{{item.image.url}}" alt="IMG-PRODUCT" 
								style="height: 270px; width:100%; "></a>
							</div>

							<div class="block2-txt p-t-20">
								<a href="{{item.get_absolute_url}}" class="block2-name dis-block s-text3 p-b-5" style="color: black;">
									{{ item.title }}
								</a>

								{% if item.discount_price %}
								<span class="block2-oldprice m-text7 p-r-5" style="color: black;">
									₹{{ item.price }}
								</span>

								<span class="block2-newprice m-text8 p-r-5">
									₹{{ item.discount_price }}
								</span>
								{% else %}
								<span class="block2-price m-text6 p-r-5" style="color: black;">
									₹{{ item.price }}
								</span>
								{% endif %}
								

								
							</div>
							
						</div>
					</div>
				
					{% endfor %}

					
				
				</div>
			</div>

		</div>
	</section>

	<!-- ------------------Banner2  start ------------------------>
	<style>
		.banner2{
			background-color: #fff;
			margin-right: 1rem;
			margin-left: 1rem;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}

		.ban_img{
			height: 600px;
			width: 100%;
		}
		.ban5_img{
			height: 400px;
			width: 100%;
		}

		.btn-light {
			color: #000;
			background-color: #fff;
			border-color: #fff;
			border-radius: 20px;
		}
		.wrap-btn-slide1 a:hover{
			background-color: whitesmoke;
			color: #000 !important;
			opacity: 0.7;
	
		}
	</style>

	{% for prod_category, prod_category_value in products_categories.items %}

	<section class="banner2 bg5 p-t-55 p-b-55">
		<h3 class="m-text5 t-center">
			{{ prod_category }}
			{% comment %} {{ prod_category_value }} {% endcomment %}
		</h3>
		<div class="">
			<div class="row" style="width:100%; margin-left:auto; margin-right:auto">
				{% for prod in prod_category_value %}
				
				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative">
						<img src="{{prod.image.url}}" class="ban_img">
						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							
							<br>
								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
							<a href="/category/{{prod_category.slug}}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Shop Now
							</a>
						</div>

						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
	{% endfor %}

	
	<!-- ------------------Banner2  start ------------------------>

	<!-- ------------------Banner4  start ------------------------>
<!-- Slide1 -->

<style>
	.slide1 button:hover{
		background-color: white !important;
		color: black;
	}
</style>
<br><br>
<section class="slide1">

	
	
</section>

<section class="newproduct bgwhite p-t-45 p-b-105">
	<h3 class="m-text5 t-center mb-5">
		All Categories
	</h3>
	<a href='/shop/'><div class="slider">
		<div class="slide current">
		  <div class="content">
			<h1>Men's Wear</h1>
		  </div>
		</div>
		<div class="slide">
		  <div class="content">
			<h1>Kids' Wear</h1>
		  </div>
		</div>
	</div>
	</a>
	 
</section>

<!-- ------------------Banner4  end ------------------------>

	
	<!-- ------------------Banner5  start ------------------------>

	<section class="banner2 bg5 p-t-55 p-b-55">
		<h3 class="m-text5 t-center">
			More Products
		</h3>
		<div class="">
			<div class="row" style="margin-left:auto; margin-right:auto;">
				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative">
						<img src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7324885/2019/12/4/f383d293-415a-4606-ab12-cc07ab603ec41575437710624-HIGHLANDER-Men-Brown--Black-Slim-Fit-Checked-Casual-Shirt-81-1.jpg" alt="IMG-BANNER" class="ban5_img">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<br><br><br><br><br>
							<br>
								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Casuals
							</a>
						</div>

						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative">
						<img src="https://assets.ajio.com/medias/sys_master/root/20230614/oWSa/6489eb2c42f9e729d7430243/-473Wx593H-469514981-black-MODEL.jpg" class="ban5_img">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<br><br><br><br><br>

							<br>
							

								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Formals
							</a>
						</div>

						</div>
					</div>
				</div>


				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative">
						<img src="https://www.woolly.clothing/cdn/shop/files/studio-2022-m-everyday-longsleeve-henley-charcoal-front-tyler-1.jpg?v=1689888289" alt="IMG-BANNER" class="ban5_img">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<br><br><br><br><br>

							<br>
							

								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Henley
							</a>
						</div>

						</div>
					</div>
				</div>
			
			</div>
		</div>
	</section>
	<!-- ------------------Banner2  start ------------------------>


	
	

	<!-- Shipping -->
	<section class="shipping bgwhite p-t-62 p-b-46">
		<div class="flex-w p-l-15 p-r-15">
			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Free Delivery Worldwide
				</h4>

				<a href="#" class="s-text11 t-center">
					Click here for more info
				</a>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
				<h4 class="m-text12 t-center">
					30 Days Return
				</h4>

				<span class="s-text11 t-center">
					Simply return it within 30 days for an exchange.
				</span>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Store Opening
				</h4>

				<span class="s-text11 t-center">
					Shop open from Monday to Sunday
				</span>
			</div>
		</div>
	</section>


	<script>
		$(document).ready(function(){
			$(".wish-icon i").click(function(){
				$(this).toggleClass("fa-heart fa-heart-o");
			});
		});	

		</script>

	

	{% endblock content %}


	