{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
            {% for order in orders %}
          <div class="card card-stepper text-black" style="border-radius: 16px; margin-bottom:30px">
  
            <div class="card-body p-5">
  
              <div class="d-flex justify-content-between align-items-center mb-5">
                <div>
                  <h5 class="mb-0">INVOICE <span class="text-primary font-weight-bold">{{ order.ref_code }}</span></h5>
                </div>
                {% comment %} <div class="text-end">
                  <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                  <p class="mb-0">USPS <span class="font-weight-bold">234094567242423422898</span></p>
                </div> {% endcomment %}
              </div>
  
              <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                <li class="step0 active text-center" id="step1"></li>
                <li class="step0 active text-center" id="step2"></li>
                {% if order.being_delivered %}
                <li class="step0 active text-center" id="step3"></li>
                {% else %}
                <li class="step0 text-center" id="step3"></li>
                {% endif %}
                {% if order.received %}
                <li class="step0 active text-center" id="step4"></li>
                {% else %}
                <li class="step0 text-center" id="step4"></li>

                {% endif %}
              </ul>
  
              <div class="d-flex justify-content-between">
                <div class="d-lg-flex align-items-center">
                  <i class="fas fa-clipboard-list fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                  <div>
                    <p class="fw-bold mb-1">Order</p>
                    <p class="fw-bold mb-0">Processed</p>
                  </div>
                </div>
                <div class="d-lg-flex align-items-center">
                  <i class="fas fa-box-open fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                  <div>
                    <p class="fw-bold mb-1">Order</p>
                    <p class="fw-bold mb-0">Shipped</p>
                  </div>
                </div>
                <div class="d-lg-flex align-items-center">
                  <i class="fas fa-shipping-fast fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                  <div>
                    <p class="fw-bold mb-1">Order</p>
                    <p class="fw-bold mb-0">En Route</p>
                  </div>
                </div>
                <div class="d-lg-flex align-items-center">
                  <i class="fas fa-home fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                  <div>
                    <p class="fw-bold mb-1">Order</p>
                    <p class="fw-bold mb-0">Arrived</p>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}